*{
    box-sizing: border-box;
}

body{
    background-color: black;
    background-size: cover;
    background-position:top;
    background-repeat: no-repeat;
    margin: 0px;
    display: flex;
    flex-direction: column;
    /* align-items:flex-start; */
}


.textbox{
    position: absolute;
    bottom:0;
    cursor:ew-resize;
}
h1{
    position: relative;
    color: whitesmoke;
    background-color: black;
    mix-blend-mode: difference;
    font-family: 'Trebuchet MS','Gill Sans MT', Calibri,  sans-serif;
    font-size: 4vh;
    text-wrap: nowrap;
    animation: run 10s infinite linear both;
}

.box{
    background: whitesmoke;
    color: black;
    animation: run 10s 5s infinite linear alternate-reverse both;
}

/*lock */
.lock{
    height: 80vh;
    position:absolute;
    /* left:-2vw;
    top:-2vw; */
}
.up{
    width: 100vw;
    height:10vh;
    color:crimson;
    mix-blend-mode: overlay;
    position: absolute;
    bottom: 0;
    animation: pulse 10s 5s infinite linear alternate-reverse both;
}

.open{
    display:none;
}
.eternity{
    display:none;
    position: relative;
    align-self: center;
}


/*animation*/
@keyframes pulse{
    0%{
        opacity: 100%;
        transform: scale(1);
    }
    40%{
        opacity: 80%;
        transform: scale(0.8);
    }
    100%{
        opacity: 60%;
        transform: scale(1.6);
    }
}

@keyframes run {
    0%{
        left: -120vw;
        opacity: 100%;
    }
    40%{
        opacity: 100%;
    }
    41%{
        opacity: 0%;
    }
    41%{
        opacity: 100%;
    }
    60%{
        opacity: 100%;
    }
    60%{
        opacity: 0%;
    }
    60%{
        opacity: 100%;
    }
    100%{
        left: 120vw;
        opacity: 100%;
    }
}

/*Screen sizing*/
/*desktop*/
@media screen and (max-width:1440px){
    body{
      background-image: url("img/mystery\ religion.png");
      font-size: 60px;
      font-weight: 700;
    }
    .lock{
        display: none;
    }
    .textbox{
        display: none;
    }
    .open{
        display:unset;
    }
  }
  /*ipad and laptop*/
  @media screen and (max-width:1024px){
    body{
      background-image: url("img/Eternity.png");
     font-size: 30px;
     font-weight: 900;
    }
    .open{
        display: none;
    }
    .eternity{
        display:unset;
    }
  }
  /*mobile*/
  @media screen and (max-height:960px){
    body{
      background-image: url("img/psychology.png");
      font-size: 30px;
      font-weight: 900;
    }
   
  }
  @media screen and (max-height:500px){
    body{
      background-image: url("img/pablum.png");
      font-size: 30px;
      font-weight: 900;
    }
    .eternity{
        display:none;
    }
    .end{
        display:unset;
    }
  }