*{
    box-sizing: border-box;
}

body{
    background-size: cover;
    background-image: url("img/mystery\ religion.png");
    background-position:top;
    background-repeat: no-repeat;
    margin: 0px;
    display: flex;
    flex-direction: column;
}
img{
    mix-blend-mode: hard-light;
    overflow: hidden;
    min-width: 150vw;
    margin-top: -20vw;
}
.textbox{
    position: absolute;
    bottom:0;
    cursor:ew-resize;
}
h1{
    position: relative;
    color: whitesmoke;
    background-color: black;
    mix-blend-mode: difference;
    font-family: 'Trebuchet MS','Gill Sans MT', Calibri,  sans-serif;
    font-size: 4vh;
    text-wrap: nowrap;
    animation: run 10s infinite linear;
}

.box{
    background: whitesmoke;
    color: black;
    animation: run 10s 5s infinite linear alternate-reverse both;
}

.img{
    position:relative;
    margin: 20vh 0;
    width: 100vw;
    heigth: 60vh;
    background-color: antiquewhite;
}


@keyframes spin{
    0%{
        background-color: yellow;
        border-radius: 0;
        rotate: 0;
    }
    30%{
        background-color: red;
        border-radius: 10%;
        rotate: 120deg;
    }
    75%{
        background-color: violet;
        border-radius: 15%;
        rotate: 240deg;
    }
    100%{
        background-color: royalblue;
        border-radius: 30%;
        rotate: 360deg;
    }
}

@keyframes pulse{
    0%{
        background-color: lightsteelblue;
        opacity: 100%;
        transform: scale(1);
    }
    40%{
        background-color: slateblue;
        opacity: 80%;
        transform: scale(0.8);
    }
    100%{
        background-color: skyblue;
        opacity: 60%;
        transform: scale(1.6);
    }
}

@keyframes run {
    0%{
        left: -120vw;
    }
    100%{
        left: 120vw;
    }
}


/*desktop*/
@media screen and (max-width:1440px){
    body{
      background-color: black;
      font-size: 60px;
      font-weight: 700;
    }
   
  }
  /*ipad and laptop*/
  @media screen and (max-width:1024px){
    body{
      background-image: url("img/spiritual.png");
     font-size: 30px;
     font-weight: 900;
    }
    .textbox{
        display:none;
    }
  }
  /*mobile*/
  @media screen and (max-width:960px){
    body{
      background-image: url("img/art-help.png");
      font-size: 30px;
      font-weight: 900;
    }
   
  }